.night {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color:rgb(255, 217, 0);
  text-align: center;
  margin: auto;
  height: 900px;
  width: 1600px;
  background-image: url('img/night.jpg');
}

.day {
  background-image: url('img/morning.jpg');
}

